
//color

$color-white: #fff;
$color-black: black;
$color-black-light: #d1c9c9;
$color-black-light-1: rgb(107, 105, 105);
$color-text-green: #4cd86c;
$color-background-banner: #F1F1F1;
$color-text-banner: #9bc23a;
$color-black-light-2 : #746969;


// font-family
@font-face {
    font-family: 'UTM ViceroyJF';
    src: url('../../assets/fonts/UTM\ ViceroyJF.ttf') format('truetype') ;
}