@import "base/base";

@import "helpers/variables";
@import "helpers/mixins";

@import "./layouts/Header";
@import './layouts/Banner';
@import './layouts/Sale';
@import './layouts/SectionSale';
@import './layouts/Feelback';
@import './layouts/Intro';
@import './layouts/Footer';
@import './layouts/Infor';
@import './layouts/About';
@import './layouts/Config';
@import './layouts/NewsNews';
@import './layouts/Contact';


@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
