.banner {
  background-color: #f1f1f1;
  overflow-x: hidden;
 }
  .banner__wrapper {
    display: flex;
   }
    .banner__wrapper .banner__product-img {
      margin-top: 138px;
      margin-left: 65px;
     }

      @media (max-width: 990px) {
        .banner__wrapper .banner__product-img {
          max-width: 180px;
          margin-top: 105px;
          margin-left: 32px;
         } 
        }
      @media (max-width: 480px) {
        .banner__wrapper .banner__product-img {
          max-width: 170px;
         } 
        }
    .banner__wrapper .product__introduction {
      text-align: center;
     }
      .banner__wrapper .product__introduction-name {
        font-family: "UTM ViceroyJF";
        color: #91b33d;

        font-size: 14rem; 
      }

        @media (max-width: 990px) {
          .banner__wrapper .product__introduction-name {
            font-size: 80px;
           } 
          }
 
        @media (max-width: 480px) {
          .banner__wrapper .product__introduction-name {
            font-size: 80px; 
          } 
        }
      .banner__wrapper .product__introduction-info {

        color: #8a4e44;
        font-size: 19px;

      }

        @media (max-width: 990px) {
          .banner__wrapper .product__introduction-info {

            font-size: 1.6rem;
            line-height: 20px;
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: 20px;
           } 
          }

      .banner__wrapper .product__introduction-price {
        margin-top: 20px;
        margin-bottom: 25px;
        color: #84a72e;
        font-family: "Open Sans", sans-serif;
        font-size: 40px;
        font-weight: 300;
       }
        .banner__wrapper .product__introduction-price span {
          display: inline-block;
          font-size: 20px;
          vertical-align: super; 
        }

        @media (max-width: 990px) {
          .banner__wrapper .product__introduction-price {
            margin-bottom: 35px;
            font-size: 30px;
           } 
          }

      .banner__wrapper .product__introduction-buy {
        color: black;
        font-size: 1.8rem;
        text-transform: uppercase;
       }
    .banner__wrapper .layer__block-img .layer-img {
      max-width: 710px;
     }
      @media (max-width: 990px) {
        .banner__wrapper .layer__block-img .layer-img {
          max-width: 400px;
          padding-top: 40px;
         } 
        }

      @media (max-width: 480px) {
        .banner__wrapper .layer__block-img .layer-img {
          max-width: 418px; 
        } 
      }
