.product__item{
 .item__btn:hover {
  border: 2px solid wheat;
  color: #fff;
 
  transition: 0.5s; 
  opacity: 1;
 }

 .item__btn{
  .item__btn-icon{
   padding: 12px;
   border: 2px solid #e6e6e6;
   border-radius: 15px;
   background: none;
   font-size: 1.5rem;
   opacity: 0;
   transition: 0.4s;
  }
  .item__btn-icon:hover {
   border: 2px solid #789629;
   color: #fff;
   background-color: #789629;
   transition: 0.5s; 
   opacity: 1;
  }
   .item__btn-icon:focus {
    outline: none; 
    opacity: 1;
   }
 }
}