.section-contact {
 margin-bottom: 7.8rem;
 }
 .section-contact .heading-main {
   margin-bottom: 2.8rem;
   }
 .section-contact__map img {
   max-width: 100%;
   }
 @media only screen and (max-width: 991px) {
   .section-contact__form {
     margin-top: 2rem; 
    }
   }
 .section-contact .form__title {
   margin-bottom: 2.8rem;
   font-size: 16px;
   text-transform: uppercase; 
  }
 .section-contact .form__group {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-bottom: 3rem; 
  }
 .section-contact .form__lable {
   width: 11rem;
   margin-right: 1rem;
   margin: auto 0;
   font-size: 16px;
   font-weight: 700; 
  }
   .section-contact .form__lable-textarea {
     margin-top: 5px; 
    }
 .section-contact .form__obligatory {
   margin-left: 5px; 
  }
 .section-contact .form__input {
  width: 100%;
   padding: 4px;
   }
 .section-contact .btn {
   display: block;
   padding: 5px 20px;
   margin-left: auto; 
   color: white;
   background-color: black;
  }
