

.FeelbackSlider {

  margin-top: 10px;
  .FeelbackSlider__category {
    background-image: url("../../assets/images/feedback--background.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right center;
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 40px 0;
    .FeelbackSlider__category-content {
      font-size: 1.5rem;
      margin: 0;
      padding: 20px;
    }
    .FeelbackSlider__category-content::before {
      content: "";
      font-size: 1.6rem;
      font-style: italic;
      padding-right: 10px;
    }
    .FeelbackSlider__category-content::after {
      font-size: 1.6rem;
      font-style: italic;
      padding-right: 10px;
    }
    .avartar_feedback {
      position: relative;
      .avartar_feedback-image {
        border-radius: 50%;
        padding: 5px;
        border: 1px solid black;
      }
      .avartar_feedback-name {
        position: absolute;
        right: -202%;
        bottom: 20%;
        font-size: 1.6rem;
        font-weight: 200;
        span {
          font-style: italic;
          color: black;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .FeelbackSlider {
    .FeelbackSlider__category {
      .FeelbackSlider__category-content {
        font-size: 1.5rem;
        padding: 1.5rem;
      }
      .avartar_feedback {
        .avartar_feedback-image {
          width: 100px;
        }
        .avartar_feedback-name {
          @include absolute($right: -300%, $bottom: -20%);
          font-size: 1.5rem;
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .FeelbackSlider {
    .FeelbackSlider__category {
      flex-direction: column;
      align-items: center;
      .FeelbackSlider__category-content {
        font-size: 1.7rem;
        padding: 10px;
      }
      .avartar_feedback {
        @include flex(row, center, center);
        margin-top: 20px;
        .avartar_feedback-image {
          width: 100px;
          margin-right: 0.5rem;
        }
        .avartar_feedback-name {
          @include relative;
          right: 0;
          bottom: 0;
          font-size: 1.3rem;
        }
      }
    }
    .slick-dots {
      bottom: 40% !important; 
      left: 25% !important;
    }
  }
}
