@mixin animationDropdown() {

  animation: rotateMenu .8s ease-in-out forwards;
          transform-origin: top center;
          @keyframes rotateMenu {
            0% {
              transform: rotateX(-100deg);
            }
            70% {
              transform: rotateX(4deg);
            }
            100% {
              transform: rotateX(0deg);
            }
          }
}
.header {
  @include fixed();

  border-bottom: 1px solid $color-black-light;
  width: 100%;
  z-index: 10;
  position: relative;

  background: #f1f1f1;
  opacity: 0.9;
  padding: 0 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

}

.header__row {
  @include flex(row, space-between, center);
  padding: 20px 0;
  .header__logo {
    padding: 0;
  }
  .header__menu {
    flex-grow: 0.5;
    .header__menu-list {
      @include flex(row, space-between, center);
      min-width: 100%;
      margin: 0;
      .header__menu-item {
        
        position: relative;
        &:hover {
          .dropdown {
            display: block;
          }
        }
        .header__menu-link-overlay {
          @include absolute();
          width: 100%;
          height: 100%;
          background: transparent;
        }
        .header__menu-link {
          color: $color-black;
          font-size: 1.6rem;
          padding: 0.5rem;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          img {
            width: 1rem;
            margin-left: 0.3rem;
          }
          &:hover {
            color: green;
        
          }
        }
        .dropdown {
          @include animationDropdown();
          @include absolute($top: 4rem, $left: -35rem);
          display: none;
          width: 700px;
          border: 0.2rem solid green;
          padding: 0.5rem;
          background-color: $color-white;

          .arrow-up {
            @include absolute($top: -1.6rem, $right: 40%);
            width: 0;
            height: 0;
            border-left: 1.5rem solid transparent;
            border-right: 1.5rem solid transparent;
            border-bottom: 1.5rem solid $color-text-green;
  
          }
          .dropdown__content {
            @include flex(row, space-between, center);
            .dropdown__list {
              @include flex(column, center, flex-start);
              padding: 0 1rem;
              p {
                font-size: 1.7rem;
                font-weight: 600;
                padding: 0.5rem;
                min-width: 100%;
                border-bottom: 0.1rem solid $color-black-light-1;
              }
              .dropdown__list-item {
                padding: 1rem 0;
                .dropdown__list-link {
                  font-size: 1.2rem;
                  text-decoration: none;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
  .header__icon {
    @include flex(row, space-around);
    flex-grow: 0.3;
    img {
      width: 1.5rem;
      cursor: pointer;
    }
    img:nth-child(3){
      display: none;
    }
  }
}
@include media-breakpoint-down(xs) {
  .header__row {
    .header__menu {
      .header__menu-list {
        .header__menu-item {
          .dropdown {
            .dropdown__content {
              .dropdown__list {
                p {
                  font-size: 1rem;
                }
                .dropdown__list-item {
                  .dropdown__list-link {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .header__row {
    .header__logo {
      padding: 0 5px;
    }
    .header__menu {
      .header__menu-list {
        .header__menu-item {
          .header__menu-link{
            font-size: 1rem;
          }   
        }
      }
    }
    .header__icon {
      img:nth-child(3){
        display: block;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .header__row {
    .header__logo {
      margin-left: -37px;
    }
    .header__menu {
      @include animationDropdown();
      order: 1;
      flex: 1 0 100%;
      margin-left: 2rem;
      margin-top: 1rem;
      .header__menu-list {
        @include flex(column, center, flex-start);
        .header__menu-item {
          .dropdown {
            @include absolute($top: 100%, $left: -20%);
            width: 40rem;
            .arrow-up {
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid var(--green);
              @include absolute($top: -5%, $left: 8%);
            }
            .dropdown__content {
              .dropdown__list {
                p {
                  font-size: 1.5rem;
                }
                .dropdown__list-item {
                  .dropdown__list-link {
                    font-size: 1.5rem;
                  }
                }
              }
            }
            z-index: 10;
          }
        }
      }
    }
  }
}

