.section__information {
 margin-top: 45px;
 margin-bottom: 90px;
 }

   .section__information .contact__link-item {

     display: flex;

     justify-content: center;

     align-items: center;
     opacity: 0.5;

    }

     .section__information 
     .contact__link-item 
     .item-icon {
       padding: 4px;
       border: 2px solid;
       border-radius: 50px;
       margin-right: 8px;
       }
     .section__information 
     .contact__link-item 
     .item-link {
 
       font-weight: 700;
       font-size: 1.2rem;
       text-transform: uppercase;
       }
 .section__information 
 .infor {
   margin-top: 20px;
   position: relative;
   }
   .section__information 
   .infor .destail__log {
     position: relative;
     text-align: center;
     margin-bottom: 22px;
     }
     .section__information 
     .infor .destail__log::before {
       content: "";
       position: absolute;
       z-index: -1;
       top: 40px;
       left: 5%;
       width: 90%;
       border-top: 1px solid #c2c2c2;
       }
       @media (max-width: 480px) {
         .section__information 
         .infor 
         .destail__log::before {
           top: -20px;
           left: 15%;
           width: 70%;
           margin-top: 60px; 
          } 
         }
   .section__information
    .infor 
    .destail__log-title {
     margin-bottom: 16px;
     font-size: 1.6rem;
     font-weight: 700;
     text-align: center;
     text-transform: uppercase; 
    }
     @media (max-width: 480px) {
       .section__information 
       .infor
        .destail__log-title {
         margin-top: 50px;
         }
         }
   .section__information 
   .infor 
   .line-center {
     padding: 0 4px;
     background-color: #fff;
     font-size: 12px;
     font-weight: 600;
     letter-spacing: 2px;
     }
   .section__information
    .infor
     .destail__content-logo {
     margin-top: 35px;
     margin-bottom: 40px;
     }
   .section__information 
   .infor
    .destail__content-title {
     margin-bottom: 20px;

     font-size: 1.2rem;
     font-weight: 700;
     text-transform: uppercase; 
    }
     @media (max-width: 480px) {
       .section__information 
       .infor 
       .destail__content-title {
         font-size: 1.4rem; 
        } 
       }
   .section__information
    .infor .destail__content-introduce {

     font-size: 1.2rem;
     line-height: 20px;
     }
     @media (max-width: 480px) {
       .section__information 
       .infor 
       .destail__content-introduce {
         font-weight: 600; 
        } 
       }
     .section__information
      .infor 
      .destail__content-introduce
       .introduce-link {
       display: inline-block;
       padding-top: 20px;
       color: #818181; 
      }
       
     .section__information 
     .infor 
     .destail__blog-img img {
       width: 100%;
       }
   .section__information 
   .infor
    .destail__blog-title {
     margin-top: 15px;
     margin-bottom: 12px;
     font-size: 1.2rem;
     font-weight: 700;
     text-transform: uppercase;
    }
     @media (max-width: 480px) {
       .section__information
        .infor
         .destail__blog-title {
         font-size: 1.4rem; 
        }
        }
   .section__information 
   .infor
    .destail__blog-introduce {
      color: #4b4848;
      font-size: 12px;
      line-height: 20px; 
     border-top: 1px solid whitesmoke;
     padding-top: 10px;
   
    }
     @media (max-width: 480px) {
       .section__information 
       .infor
        .destail__blog-introduce {
         font-weight: 600;
         } 
        }
   .section__information 
   .infor
    .destail__blog-author {
     display: block;
     border-bottom: 1px solid #e8e8e8;
     padding-bottom: 10px;
     margin-top: 10px;
     color: #b4b4b4;
     font-family: "Open Sans", sans-serif;
     font-size: 12px;
     font-style: italic; 
    }
   .section__information
    .infor 
   .destail__blog-detail {
     display: flex;

     justify-content: space-between;
     margin-top: 10px;
     color: #ac9b9b;
     font-size: 1.2rem;
     }
   .section__information
    .infor 
    .introduce-link,
   .section__information 
   .infor 
   .comment-index {
     color: #ac9b9b; 
    }
     .section__information 
     .infor 
     .introduce-link i,
     .section__information
      .infor 
      .comment-index i {
       margin-left: 10px;
       font-size: 13px;
       vertical-align: middle;
       }
   .section__information
    .infor 
    .destail__send-email {
     margin-bottom: 32px; 
    }
     @media (max-width: 990px) {
       .section__information 
       .infor .destail__send-email {
         margin-top: 55px;
         } 
        }
     @media (max-width: 480px) {
       .section__information 
       .infor 
       .destail__send-email {
         margin: 0px;
         } 
        }
     .section__information
      .infor .destail__send-email
       .send__email-from {
       margin-top: 35px;
       text-align: center; 
      }
     .section__information 
     .infor
      .destail__send-email
      .email-text {
       padding: 16px 0;
       color: #737373;
       font-size: 1.2rem;
       }
     .section__information 
     .infor 
     .destail__send-email 
     .email-input {
       width: 100%;
       border: 1px solid #dbd9d9;
       padding: 10px 20px;
       font-size: 1.2rem; 
      }


     .section__information .infor .destail__send-email .email-btn {
       border: none;
       padding: 10px 28px;
       font-size: 1.2rem;
       font-weight: 700;
       text-transform: uppercase; 
       color: white;
       background-color: #1a1818;

      }
   @media (max-width: 990px) {
     .section__information
      .infor 
      .destail__tag {
       margin-top: 55px;
       } 
      }
   .section__information 
   .infor
    .destail__tag
     .product__tag-list {
     display: flex;
     flex-wrap: wrap;
     margin-top: 40px; 
    }
  
   .section__information
    .infor 
    .destail__tag
     .tag-item-link {

      color: #4b4b4b;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      display: inline-block;
      padding: 8px;
      border: 1px solid #ddcfcf;
      margin: 0 2px;
      margin-bottom: 10px;
     }


@media (max-width: 990px) {
  .section__information {
    margin-bottom: 70px;
    }
    }
.section__information 
.contact__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 60px; 
  margin-top: 10px;
  width: 100%;
  overflow: hidden;

  }
  @media (max-width: 480px) {
    .section__information 
    .contact__link {
      margin-bottom: 0px;
      } 
      }