
.product {
  background-size: cover;
  text-align: center;
  border-top: 1px solid whitesmoke;
  overflow: hidden;
  .product__item{
   width: 250px;
   text-align: center;
   overflow: hidden;
   .item__img{
     img{
      max-width: 100%;
      display: inline;
     }

   }
   .item__content{
     .item__content-title{
       color: gray;
       font-size: 1.5rem;
     }
     .item__content-name {
       color: black;
       text-transform: uppercase;
       font-size: 2rem;
       font-weight: 400;
     }
     .line{
      border: 1px solid gray;
      width: 45px;
      margin: 15px auto;
     }
     .item__content-price{
      display: flex;
      justify-content: center;
      p{
        padding: 10px;
        font-size: 2rem;
        font-weight: 200;
        color: green;
      }
      .item__btn {
        .icon-text{
          display: inline-block;
          color: red;
        }
      }
     }
   }
  }

 }
 .product .list_products-list .list__item:first-child {
    padding-right: 20px; 
    margin-top: 20px;
    margin-right: 20px;
    border-right: 1px solid #a79a9a;

    
 }

   .product .list_products-list .list__item:last-child {
     padding-left: 20px;
     border-left: 1px solid #ad9f9f;
     margin-top: 10px;
     margin-left: 20px;
     }
   .product .list_products-list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px; 
     }
   
   @media (max-width: 480px) {
     .product .list_products-list .list__item:first-child, .product .list_products-list .list__item:last-child {
       padding: 0;
       border: none;
       margin: 0; 
      } 
    }
   .product .list_products-list .list__item-link {
    font-size: 1.8rem;
    text-decoration: none; 
     color: #c1c1c1;
  
    }
   .product .list_products-list .list__item .active {
     border: none;
     color: #789629;
     font-size: 3rem;

    }
   @media (max-width: 480px) {
     .product .list_products-list .list__item {
       text-align: left; 
      } 
    }
   @media (max-width: 480px) {
     .product .list_products-list {
      margin-top: 50px;
      margin-left: 35px;
      line-height: 25px; 
       flex-wrap: wrap;
       flex-direction: column;
       align-items: flex-start;

      } 
    }
 .product .line {
   margin-top: 20px;
   margin-right: 50px; 
  }

   .product .line-before, .product .line-after {

     display: inline-block;
     width: 100px;
     border-bottom: 1px solid #c2c2c2;
     margin-bottom: 5px; 
    }
   .product .line-center {
     font-size: 12px;
     font-weight: 600;
     letter-spacing: 2px;
     }

   @media (max-width: 480px) {
     .product .line {
       margin-right: 0; 
      } 
    }
 .product .list_products-menu .menu-list {

   display: flex;
   justify-content: center;
   margin-top: 40px; 
  }
   @media (max-width: 480px) {

     .product .list_products-menu .menu-list {
       justify-content: space-around;
       margin-top: 30px;

       } 
      }
   .product .list_products-menu .menu-list-item {
    margin-bottom: 5px;
    color: #706868;
    font-size: 1.5rem;
    font-weight: bold; 
     display: inline-block;
   
    }
     .product .list_products-menu .menu-list-item:hover {
       color: #789629;
      }
      .product .list_products-menu .menu-list-item:not(:last-child)::after,
      .product .list_products-menu .menu-list .left::after {
   
        content: "";
        padding: 0px 15px;
        color: #818181;
        font-size: 1rem;
       }
     @media (max-width: 480px) {

       .product .list_products-menu .menu-list-item::before {
         content: "";
         padding-right: 5px;
         font-size: 1.5rem;

        } 
      }
      @media (max-width: 480px) {
        .product .list_products-menu .menu-list .left,
        .product .list_products-menu .menu-list .right {
   
          -ms-flex-direction: column;
          flex-direction: column;
          display: flex;
          text-align: start;
          } 


 

      }
      